button{
    padding: 5px;
    outline: none;
    border: none;
    background-color: crimson;
    font-weight: 500;
    border-radius: 3px;
    color: darkgrey;
    // opacity: 0.7;
    margin-right: 10px;
    margin-top:5px;
}